@charset "UTF-8";

/*================================================================
 *FILE          :editor_style.css
 *DESCRIPTION   :resetはressを使用。環境変数とmixinは_mixin.scss内に記述。
                 それぞれfoundationよりインポート。
 *AUTHOR        :
 *--------------------------------------------------------------
 *(C)
=================================================================*/

// -----------------------------------------------------------------
// Foundation
// -----------------------------------------------------------------

@import "./../foundation/_mixin.scss";
@import "./../module/_components.scss";



@include c-singleEditor();
.c-singleEditor {
  @media #{$pc} {
    max-width: 840px + 40px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
